@model SacramentPlanner.Models.SacramentPlan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sacrament Plan for  @Html.DisplayFor(model => model.date)</h4>
    <hr />
    <div class="details-card-container">
        <div class="details-card">
            <h4 class="details-card-heading">Welcome to Sacrament Meeting</h4>
            <h6 class="details-card-heading">@Html.DisplayFor(model => model.date)</h6>

            <div class="details-card-row">
                <div class="item-left">
                @Html.DisplayNameFor(model => model.conductingLeader)
                </div>
                <div class="item-right">
                @Html.DisplayFor(model => model.conductingLeader)
                </div>
            </div>

            <div class="details-card-row">
                <div class="item-left">
                @Html.DisplayNameFor(model => model.openingSong)
                </div>
                <div class="item-right">
                @Html.DisplayFor(model => model.openingSong)
                </div>
            </div>

            <div class="details-card-row">
                <div class="item-left">
                @Html.DisplayNameFor(model => model.openingPrayer)
                </div>
                <div class="item-right">
                @Html.DisplayFor(model => model.openingPrayer)
                </div>
            </div>

            <div class="details-card-row">
                <div class="item-left">
                    @Html.DisplayNameFor(model => model.firstSpeaker)
                </div>
                <div class="item-right">
                     @Html.DisplayFor(model => model.firstSpeaker)
                </div>
            </div>

            
            <div class="details-card-row">
                <div class="item-left">
                    Subject
                </div>
                <div class="item-right">
                    @Html.DisplayFor(model => model.firstSpeakerSubject)
                </div>
            </div>

            <div class="details-card-row">
                <div class="item-left">
                    @Html.DisplayNameFor(model => model.sacramentHymn)
                </div>
                <div class="item-right">
                     @Html.DisplayFor(model => model.sacramentHymn)
                </div>
            </div>

            <div class="details-card-row">
                <div class="item-left">
                    Musical Number
                </div>
                <div class="item-right">
                    @Html.DisplayFor(model => model.specialMusicalNumberName)
                </div>
            </div>

            <div class="details-card-row">
                <div class="item-left">
                    Song
                </div>
                <div class="item-right">
                    @Html.DisplayFor(model => model.specialMusicalNumber)
                </div>
            </div>



            <div class="details-card-row">
                <div class="item-left">
                    @Html.DisplayNameFor(model => model.secondSpeaker)
                </div>
                <div class="item-right">
                    @Html.DisplayFor(model => model.secondSpeaker)
                </div>
            </div>

            <div class="details-card-row">
                <div class="item-left">
                    Subject
                </div>
                <div class="item-right">
                    @Html.DisplayFor(model => model.secondSpeakerSubject)
                </div>
            </div>

            <div class="details-card-row">
                <div class="item-left">
                    @Html.DisplayNameFor(model => model.thirdSpeaker)
                </div>
                <div class="item-right">
                    @Html.DisplayFor(model => model.thirdSpeaker)
                </div>
            </div>

            <div class="details-card-row">
                <div class="item-left">
                    Subject
                </div>
                <div class="item-right">
                     @Html.DisplayFor(model => model.thirdSpeakerSubject)
                </div>
            </div>

            <div class="details-card-row">
                <div class="item-left">
                    @Html.DisplayNameFor(model => model.closingSong)
                </div>
                <div class="item-right">
                    @Html.DisplayFor(model => model.closingSong)
                </div>
            </div>

            <div class="details-card-row">
                <div class="item-left">
                @Html.DisplayNameFor(model => model.closingPrayer)
                </div>
                <div class="item-right">
                @Html.DisplayFor(model => model.closingPrayer)
                </div>
            </div>
        </div>
    </div>

</div>
<div class="buttonsBottom">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
