@model IEnumerable<SacramentPlanner.Models.SacramentPlan>

@{
    ViewData["Title"] = "Index";
}

<h1>Previously Created Plans</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Plan</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.conductingLeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.openingSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.closingSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.specialMusicalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.specialMusicalNumberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstSpeaker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstSpeakerSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.secondSpeaker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.secondSpeakerSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thirdSpeaker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thirdSpeakerSubject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.conductingLeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.openingSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sacramentHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.closingSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialMusicalNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialMusicalNumberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstSpeaker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstSpeakerSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.secondSpeaker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.secondSpeakerSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thirdSpeaker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thirdSpeakerSubject)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class= "btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
